.phone{
    
}

.basket{

}

.search{

}

.rectangle_1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: #FFFFFF;
    border: 0.3px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.rectangle_2{
    width: 100%;
    display: block;
    justify-content: space-around;
    align-content: center;
    background: #FBE7ED;
}

.rectangle_3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: #FFFFFF;
    border: 0.3px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    }
