/*Файл стилей секции селектов (фильтра и сортировки)*/
body{
    width: 100%;
}
.selects_header{
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-left: 147px;
}
.select{
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    width: 264px;
height: 40px;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
}
.selects_selects{
    
display: flex;
justify-content: space-between;
margin-left: 147px;
margin-right: 147px;

}
